body {
	background: #E6E6E6;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body, 
a {
	color: #404040;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	background: #404040;
	z-index: 10;
	display: block;
}

header a {
	font-family: 'Vollkorn', serif;
	display: block;
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	line-height: 70px;
	letter-spacing: -0.02em;
	text-align: center;
	text-decoration: none;
}

header a img {
	height: 29px;
	vertical-align: middle;
	margin-left: 9px;
}

#projects {
	display: flex;
	flex-direction: column;
	padding-top: 92px;
}

#projects a, #link-sara {
	font-weight: bold;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	width: 90vw;
	height: 90vw;
	background: #fff no-repeat;
	background-size: contain;
	color: #404040;
	margin: 0 auto 5vw auto;
	box-sizing: border-box;
	text-decoration: none;
	padding: 5vw;
	user-select: none;
}

#projects a:active {
	transform: scale(0.98);
}

#projects a:nth-child(odd) {
	padding-right: 43vw;
	text-align: left;
}

#projects a:nth-child(even), #link-sara {
	padding-left: 43vw;
	text-align: right;
}

h2, #projects a h2, #link-sara h2 {
	font-size: 24px;
	letter-spacing: -0.4px;
	line-height: 28px;
	margin-top: 5px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.type {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
}


#projects #link-relate {
	background-image: url("../img/project-relate.png");
}

#projects #link-viaplay {
	background-image: url("../img/project-viaplay.png");
}

#projects #link-dreams {
	background-image: url("../img/project-dreams.png");
}

#link-sara {
	height: 180px;
	margin: 0 auto;
	background-image: url("../img/sara.jpg");
	background-size: 100px;
	background-position: 20px center;
	padding-left: 120px;
}

#page {
}

#page section {
	padding: 92px 5vw 32px 5vw;
	background: #fff;
}

#page footer {

}

#footer-contact {
	width: 90vw;
	margin: 22px auto 22px auto;
	font-size: 16px;
}

#index #footer-contact h2,
#page #footer-contact h2 {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

#footer-contact .contact-email {
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
}


#page #page-header-image {
	max-width: 240px;
	margin: 0 auto;
}

#page .type {
	display: block;
	margin: 22px 0 10px 0;
}

#page h2 {
	font-size: 36px;
	line-height: 42px;
}

#page h3 {
	font-family: 'Vollkorn', serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 8px;
	margin-top: 33px;
	padding: 0;
}

#page p,
#page li {
	font-size: 18px;
	line-height: 21px;	
}

#page section img,
#page section video {
	display: block;
	margin: 30px auto;
	width: 100%;
}

.image-description {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	display: block;
	color: #7E7E7E;
	margin: -18px 0 8px 0;
}

#page blockquote p {
	font-family: 'Vollkorn';
	font-style: italic;
	font-size: 20px;
	line-height: 19px;
}

blockquote cite {
	font-family: 'Roboto', sans-serif;	
	font-size: 16px;
	color: #7E7E7E;
}

@media (max-width: 480px) {
	.mobile-only {
		display: inherit !important;
	}
	.desktop-only {
		display: none !important;
	}
}

@media (min-width: 481px) {
	.desktop-only {
		display: inherit !important;
	}
	.mobile-only {
		display: none !important;
	}
}