<footer>
  <section>
    <div class="inner">
      <div class="narrow">
       <ul class="link-list contact">
        <li><a href="https://linkedin.com/in/saraekholm"><i class="fa fa-resume"></i> <span>Sara Ekholm</span></a></li>
        <li><a href="#" class="email-link"><i class="fa fa-send"></i> <span class="email-placeholder"></span></a></li>
        <li><a href="tel:+46701700116"><i class="fa fa-phone"></i> <span>+46 70-170 01 16</span></a></li>
        <li><a href="{{ "/pdf/Sara%20Ekholm%20Planner%20Resume.pdf" | prepend: site.baseurl }}"><i class="fa fa-file-text"></i> <span>Download Resume</span></a></li>
      </ul>
    </div>
  </div>
</section>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70107299-1', 'auto');
  ga('send', 'pageview');

</script>