<nav>
  <ul>
    {% for my_page in site.pages %}
    {% if my_page.title %}
    <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>

<header>
  <div class="header-intro">
    <img src="{{ "/images/sara.jpg" | prepend: site.baseurl }}">
    <div class="intro-inner">
      <h3><a href="{{ "/" | site.baseurl }}">Sara Ekholm</a></h3>
      <p class="intro">I’m a planner from Sweden equipped to tackle the modern media landscape. Fluent in Advertising, Branding, and Digital. Also a strong advocate of common sense. </p>
      <ul class="link-list contact">
        <li><a href="https://linkedin.com/in/saraekholm"><i class="fa fa-resume"></i> <span>Sara Ekholm</span></a></li>
        <li><a href="#" class="email-link"><i class="fa fa-send"></i> <span class="email-placeholder"></span></a></li>
        <li><a href="tel:+46701700116"><i class="fa fa-phone"></i> <span>+46 70-170 01 16</span></a></li>
      </ul>
    </div>
  </div>
</header>